.title {
    @apply text-2xl font-bold text-gray-900;
}

.inputContainer {
    @apply flex gap-2 items-center;
}

.addButton {
    @apply flex items-center gap-2 bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700 transition;
}

.taskTableContainer {
    @apply w-4/5 mx-auto overflow-x-auto;
}

.taskTable {
    @apply w-full border-collapse bg-white shadow-md rounded-lg;

    th {
        @apply text-left py-3 px-4 bg-gray-200 font-semibold cursor-pointer;
    }

    td {
        @apply py-3 px-4 border-b;
    }

    .status {
        @apply italic text-sm text-gray-600;
    }

    .actions {
        @apply text-right relative;
    }
}

.actionButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.actionButton:hover {
    color: #0073e6;
}

.actionMenu {
    position: absolute;
    top: calc(20px);
    width: 120px;
    left: -120px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    z-index: 10;
}

.actionMenu button {
    display: block;
    background: none;
    border: none;
    padding: 8px;
    text-align: left;
    width: 100%;
    cursor: pointer;
}

.actionMenu button:hover {
    background-color: #f0f0f0;
}