.kpiSection {
    @apply flex flex-wrap gap-4 justify-between mb-4;
}

.kpiCard {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    width: 22%;
    min-width: 160px;
    transition: transform 0.2s ease;
    
    &:hover {
        transform: scale(1.05);
    }
}

.progressSection {
    background-color: #f4f7fc;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s ease;
    @apply mb-4;

    &:hover {
        transform: scale(1.05);
    }
}

.chartSection {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.chartBlock {
    width: 100%;
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
    
    &:hover {
        transform: scale(1.05);
    }
}

.chartBlock canvas {
    max-width: 100% !important;
    height: auto !important;
}






.progressBar {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.progressFill {
    height: 100%;
    background: linear-gradient(90deg, #36A2EB, #4BC0C0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: width 0.4s ease-in-out;
}

.progressText {
    font-size: 12px;
    font-weight: bold;
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
}
