.taskDetailModalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.taskDetailContainer {
    width: 100%;
    min-width: 80%;
    max-width: 1200px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;

    &.withModal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;

        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;

        height: 750px;
        max-height: 80%;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titlePlaceholder {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
    @apply w-full p-3;
}

.descriptionPlaceholder {
    font-size: 1.2rem;
    cursor: pointer;
    color: #aaa;
    @apply w-full p-3;
}

.descriptionPlaceholder:hover {
    border: 1px dashed #ccc;
}

.descriptionEditor {
    width: 100%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.titlePlaceholder, .descriptionPlaceholder {
    &:hover {
        @apply bg-gray-100 cursor-text;
    }
}

.titleInput {
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
    border: 2px rgb(50, 50, 250) solid;
    @apply w-full p-3;
}

.descriptionInput {
    width: 100%;
    font-size: 1.2rem;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    resize: none;
}

.ctaButtons {
    display: flex;
    gap: 8px;
    @apply ml-4;

    .ctaButton {
        transition: background-color 0.2s ease, color 0.2s ease;
        @apply flex gap-2 items-center p-2 rounded-md;
        @apply text-gray-800 text-sm no-underline;
        
        &:hover {
            background-color: #dbeafe; // Tailwind's bg-blue-100
            color: #2563eb; // Tailwind's text-blue-600
        }
    }
}

.content {
    display: flex;
    gap: 16px;
}

.leftPanel,
.rightPanel {
    flex: 1;
    width: 50%;
    overflow-y: auto;
}

.withModal {
    .leftPanel, .rightPanel {
        height: calc(100vh - 20% - 66px);
    }
}

// .descriptionSection {
//     background-color: #f9f9f9;
// }

.mediaSection,
.commentsSection,
.detailsSection {
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mediaPlaceholders {
    display: flex;
    gap: 8px;
}

.mediaPlaceholder {
    width: 80px;
    height: 80px;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.commentInputContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.commentInput {
    width: 100%;
    flex-grow: 1;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    min-height: 40px;
    max-height: 150px;
    font-size: 14px;
    overflow-y: hidden;
    line-height: 1.5;
    background-color: white;
}

.commentPlaceholder {
    color: #ccc;
    font-size: 14px;
    cursor: text;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    flex-grow: 1;
    min-height: 40px;
    display: flex;
    align-items: center;

    &:hover {
        @apply bg-gray-100;
    }
}

.editDescriptionActions, .newCommentActions {
    display: flex;
    gap: 10px;
}

.sendButton {
    width: 100px;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendButton:hover {
    background-color: #0056b3;
}

.cancelButton {
    width: 100px;
    border: none;
    color: black;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mediaItem,
.commentItem {
    margin-bottom: 10px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 6px;
}

.mediaMeta,
.commentMeta {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: gray;
}

.mediaActions,
.commentActions {
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.icon {
    cursor: pointer;
}

.icon:hover {
    color: #333;
}

.comment {
    padding: 8px;
    border-bottom: 1px solid #eee;
}