.footer {
    @apply fixed w-full bottom-0 bg-gray-300 text-gray-400 p-4 text-center;

    .link {
        color: #fff; // Tailwind's text-white
        margin-left: 0.5rem;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}